
body {
    font-family: Signika, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;

    margin: 0;
    padding: 0;

    width: 100%;
}

/* Navigation section */

header {
    height: 60px;
    background-color: #40596B;

    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.navigation li {
    padding-left: 5px;
    padding-right: 5px;

    color: #ECCC99;
}

.navigation li:hover {
    cursor: pointer;
    color: white;
}

/* Home section */

.home-container {
    background-color: #55C0EC;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80vh;
}

.home-container-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.home-container-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5 {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    padding: 12px;
    border-radius: 5px;
    width: 200px;
    height: 50px;

    border: none;
    background-color: white;

}

.tickybot-title {
    font-weight: bold;
    color: #1E4352;
}

.bot {
    font-weight: normal;
}

.slack {
    font-weight: bold;
    color: #535758;
}

.home-container-left h5 {
    font-weight: normal;
}

/* About */

.about {
    font-size: 16px;

    padding-bottom: 100px;
}

.about-containers {
    display: flex;
    flex-direction: row;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about-container-left {
    padding-left: 250px;
}

.about-container-right {
    padding-right: 250px;
}

.about-container-paragraph {
    padding-left: 250px;
    padding-right: 250px;
}

/* Feature */

.features {
    font-size: 16px;
    background-color: #90DDAA;
    padding-bottom: 150px;

    font-family: Signika, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.features-cards {
    display: flex;
    flex: row;

    justify-content: center;
    height: 300px;
}

.card {
    margin: 10px;
    width: 300px;
    height: 380px;
    border-radius: 5px;
    background-color: white;
}

.card img {
    padding: 40px;
}

.card .container {
    background-color: white;
}

.features-img {
    background-color: #40596B;
}

/* Add To Slack */

.add-to-slack {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 16px;
    height: 300px;

    padding-bottom: 50px;
}

.btn-slack {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;

    background-color: #40596B;
    color: white;
}

/* Footer */

footer {
    background-color: #40596B;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 30px;
}

footer p {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

@media(max-width: 695px) {

    /* Home section */

    .tickybot-title {
        padding-top: 0px;
        margin-top: 0px;

        font-size: 46px;
    }

    .tickybot-title-first {
        margin-bottom: 2px;
    }

    .home-container-left h5 {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;

        font-size: 24px;
        padding-left: 100px;
        padding-right: 100px;

        text-align: center;
    }

    .home-container {
        background-color: #55C0EC;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }

    .btn {
        padding: 12px;
        border-radius: 5px;
        width: 300px;
        height: 60px;
        border: none;
        background-color: white;

        font-size: 22px;
    }

    .tickybot-title{
        font-size: 64px;
    }

    /* About section */

    .about-container {
        display: flex;
        flex-direction: column;

        text-align: left;
        padding: 30px;

        font-weight: normal;
    }

    .about-container h3 {
        text-align: center;
    }

    .about-containers {
        display: flex;
        flex-direction: column;

        margin: 5px;
        padding: 0;
        
    }

    .about-container-left {
        padding: 0;
        margin: 5px;

        font-size: 20px;
        color: #1E4352;
    }

    
    .about-container-right {
        padding: 0;
        margin: 5px;

        font-size: 20px;
        color: #1E4352;
    }

    .about-container-paragraph {
        padding: 0;
        margin: 5px;

        font-size: 20px;
        color: #1E4352;
    }

    .about-container h3 {
        font-size: 32px;
        color: #1E4352;
    }

    /* Features section */

    .features {
        font-size: 16px;
        background-color: #90DDAA;
        padding-bottom: 150px;
    
        font-family: Signika, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
        font-size: 16px;

        display: block;
        float: none;
    }
    
    .features-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .card img {
        padding: 40px;
    }
    
    .card .container {
        background-color: white;
    }
    
    .features-img {
        background-color: #40596B;
    }

    .features-cards {
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
        overflow: hidden;
        clear: both;
    }

    /* Add to slack section */

    .add-to-slack h3 {
        font-size: 44px;
        padding-top: 150px;

        font-weight: normal;
    }
    
    .btn-slack {
        margin-top: 30px;
        padding: 15px;
        border-radius: 5px;
    
        background-color: #40596B;
        color: white;

        margin-bottom: 50px;
    }

    /* Footer section */

    footer {
        background-color: #40596B;
        color: white;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 180px;
    }
    
    footer p {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

}